@import "variables";
@import "utilities";

.default-settings{
  font-family: Avenir, Helvetica, Arial, sans-serif;
  background-color: $background-color;
}

a,a:hover,a:before{
  text-decoration: none;
}