@import "variables";
@import "responsiveTable";

.ingredientTable{
  width:100%;
  .table-fullWidth{
    width:100%;
  }
  .ingredientTable__image{
    display:block;
    margin: 0 auto;
    max-width:50px;
    max-height:50px;
    @media (max-width: 673px){
      margin: unset;
    }
  }
}