@import "variables";
@import "mobile";

.navbar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @include mobile{
    justify-content: center;
  }
  .log-in{
    color:#fff;
    background-color: #B3A47F;
    border-color: #B3A47F;
  }
}

.icon{
  a,a:hover,a:before{
    color:$light-green;
  }
  font-size: 28px;
  padding: 8px;
  @include mobile{
    width:100%;
    display:flex;
    justify-content: center;
  }
}

.expansion-select{
  display:none;
  @include mobile{
    display: unset;
    color:white;
    font-size: 20px;
  }
  .expansion-select__icons{
    width:100%;
    display: flex;
    justify-content: center;
  }
  .expansion-select__options{
    padding: 10px;
  }
}

.button-group{
  @include mobile{
    display:none;
  }
}