@import "mobile";

.signUp{
  .formStyle{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    .loginCard{
      width:80%;
      @include mobile{
        width: 100%;
      }
    }
    .button--logIn{
      margin: 0px 10px 10px 0px;
    }
  }
}